---
import Footer from '@/sections/Footer.astro'
import Navbar from '@/sections/Navbar.astro'
import '@/styles/global.css'
import '@fontsource/poppins'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Navbar />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
